<body bgcolor="grey">
    <header>
        <div class="Logo">
            <h1 class="nombre de la pagina"> PelisUP!</h1>
            <h4>Plataforma para ver peliculas y series.</h4>
        </div>
   
    <nav>
    <a href="" class="nw titel">inicio   </a>
    <a href="" class="nw titel">  Peliculas   </a>
    <a href="" class="nw titel">  Series   </a>
    <a href="" class="nw titel ">  ingresar->  </a>
</nav>
</header>
<div class="conteiner">
    <input type="search" placeholder="Buscar...">>
</div>
            <ul class="menu">
                <li><a href="#">Todos</a></li>
                    <li><a href="#">Peliculas</a></li>
                        <li><a href="#">Series</a></li>
                            
            </ul>

    <ul class ="listado">
        <li><a href="#">marginal</a></li>
            <li><a href="#">cucumelo</a></li>
                <li><a href="#">accion</a></li>
                    <li><a href="#">mamail</a></li>
                        <li><a href="#">grigot</a></li>
                            <li><a href="#">traicion</a></li>

     </ul>

</body>

